.card-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .shopping-icon {
    width: 30px;
    height: 30px;
  }
  .item-count {
    position: absolute;
    font-weight: bold;
    font-size: 13px;
    bottom: 12px;
  }
}
